//Colors
$c-primary: #69306D;
$c-secondary: #A5668B;
$c-alternative: #12166f;
$c-base: #EADADC;
$c-detail: #F2D7EE;
$c-white: #FAFAFA;
$c-error: #990621;

//Space
$space-xs: 4;
$space-sm: 8;
$space-md: 16;
$space-lg: 32;
$space-xlg: 48;
$wrapper: 1200;
$header-heigth: 56;

//Typography
$t-primary: "Montserrat", Arial, Helvetica, sans-serif;
$t-secondary: "Catamaran", 'Arial Black', Gadget, sans-serif;
$t-regular: 500;
$t-light: 400;
$t-bold: 700;
$t-black: 900;

//Text sizes
$ts-body: 16;
$ts-main-title: 24;
$ts-titles: 18;
$ts-icon-sm: 16;
$ts-icon-md: 18;
$ts-icon-lg: 22;


