@import 'variables';
@import 'mixins';

.main-wrapper {
  margin: 0 auto;
  max-width: pxToRem($wrapper);
}

html {
  height: 100%;
}

body {
  font-family: $t-primary;
  height: 100%;
}

app-root {
  display: block;
  height: 100%;
}

.anchor-nav {
  &__section {
    position: relative;
  }

  &__helper {
    left: 0;
    position: absolute;
    top: pxToRem(-$header-heigth);
  }
}

