<header class="main-header">
  <nav class="main-nav main-wrapper">
    <button type="button" class="main-nav__button-menu">
      <i class="icon-dehaze"></i>
    </button>
    <ul class="main-nav__list">
      <li class="main-nav__element">
        <a class="main-nav__link" href="#">
          <i class="icon-cake"></i>Introducción
        </a>
      </li>
      <li class="main-nav__element">
        <a class="main-nav__link" href="#">
          <i class="icon-monochrome_photos"></i>Fotos
        </a>
      </li>
      <li class="main-nav__element">
        <a class="main-nav__link" href="#">
          <i class="icon-pin_drop"></i>Localización
        </a>
      </li>
      <li class="main-nav__element">
        <a class="main-nav__link" href="#">
          <i class="icon-beenhere"></i>Confirmación
        </a>
      </li>
    </ul>
  </nav>
</header>
<main class="main-content main-wrapper">
  <router-outlet></router-outlet>
</main>
<footer class="main-footer"></footer>


