<header class="main-header">
  <nav class="main-nav">
    <ul class="main-nav__list">
      <li class="main-nav__element">
        <a class="main-nav__link" href="#">Introducción</a>
      </li>
      <li class="main-nav__element">
        <a class="main-nav__link" href="#">Fotos</a>
      </li>
      <li class="main-nav__element">
        <a class="main-nav__link" href="#">Localización</a>
      </li>
      <li class="main-nav__element">
        <a class="main-nav__link" href="#">Confirmación</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>


