@import "variables";
@import "mixins";

#map {
  height: 500px;
  width: 100%;
}

.map {
  &__user-address {
    display: flex;
    flex-direction: column;
    padding: pxToRem($space-md) 0;

    &__delete {
      background-color: $c-error;
      border: 1px solid $c-error;
      border-radius: 4px;
      color: $c-white;
      margin-left: pxToRem($space-xs);
    }

    &__form {
      align-items: center;
      display: flex;
      justify-content: center;
      max-width: 273px;

      &--isSearching {
        opacity: 0.6;
      }
    }

    &__input {
      border: 1px solid $c-alternative;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: pxToRem($space-xs);
      width: 230px;
    }

    &__button {
      background-color: $c-alternative;
      border: 1px solid $c-alternative;
      border-left: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      color: $c-white;
      height: 28px;
      padding: pxToRem($space-xs) pxToRem($space-sm);

      &__text {
        display: none;
      }
    }

    &__relation {
      box-sizing: border-box;
      max-width: 273px;
      padding: pxToRem($space-sm);
      text-align: center;
      width: 100%;
    }

    &__destination {
      max-width: 273px;
      text-align: center;
    }

    &__travel-modes {
      display: flex;
      padding-top: pxToRem($space-md);
    }

    &__mode {
      $travelMode: &;
      &:nth-child(-n + 2) {
        #{$travelMode}-button {
          border-right: none;
        }
      }
      &-button {
        background-color: $c-white;
        border: 1px solid $c-alternative;
        color: $c-alternative;
        padding: pxToRem($space-xs) pxToRem($space-sm);

        &--active {
          background-color: $c-alternative;
          color: $c-white;
        }

        &__icon {
          font-size: pxToRem($ts-icon-lg);
        }
      }
    }
  }

  &__travel-instructions {
    padding: pxToRem($space-md);
    background-color: $c-white;
    border-radius: 4px;
    margin-bottom: pxToRem($space-md);

    &__title {
      font-weight: $t-black;
    }

    &__icon {
      display: none;
    }

    &__list {
      margin-top: pxToRem($space-md);
    }

    &__duration {
      display: inline-block;
    }

    &__text {
      & + & {
        margin-top: pxToRem($space-sm);
      }
    }
  }


  @media all and(min-width: 768px) {
    &__user-address {
      align-items: flex-end;;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__form {
        max-width: 330px;
      }

      &__input {
        width: 250px;
      }

      &__button {
        &__text {
          display: block;
        }

        &__icon {
          display: none;
        }
      }

      &__relation {
        max-width: 330px;
      }

      &__destination {
        max-width: 330px;
      }

      &__travel-modes {
        padding: 0;
      }

      &__mode {
        &-button {
          &__icon {
            font-size: pxToRem($ts-icon-lg);
          }
        }
      }
    }

    &__container {
      position: relative;
    }

    &__travel-instructions {
      $travelInstructions: &;
      background-color: rgba($c-white, 0.9);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      max-width: 30%;
      opacity: 0.7;

      &:hover {
        background-color: $c-white;
        opacity: 1;

        #{$travelInstructions}__list {
          opacity: 1;
        }
      }

      &__title {
        padding-right: pxToRem(40);
        position: relative;
      }

      &__icon {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;

        &--closed {
          transform: rotate(180deg);
        }
      }

      &__list {
        opacity: 0.5;
        &--closed {
          display: none;
        }
      }
    }
  }
}
