<div class="map">
  <div class="map__user-address">
    <div *ngIf="searchAddress; else inputAddress" class="map__user-address__search">
      <span class="map__user-address__text">{{searchAddress}}</span>
      <button type="button" class="map__user-address__delete" (click)="deleteAddress()">X</button>
    </div>
    <ng-template #inputAddress>
      <form (submit)="getAddress()" class="map__user-address__form" [ngClass]="{'map__user-address__isSearching': isSearching}">
        <input type="text" class="map__user-address__input" [(ngModel)]="userAddress" name="address" placeholder="Introduce tu dirección">
        <button type="submit" class="map__user-address__button">Buscar</button>
      </form>
    </ng-template>
    <div class="map__user-address__relation">a</div>
    <div class="map__user-address__destination">Calle Josefa Valcárcel número 10</div>
  </div>
  <div #mapContainer id="map"></div>
</div>


