<section class="index__section index__section--intro anchor-nav__section">
  <span id="intro" class="anchor-nav__helper"></span>
  <h2 class="index__title">Introducción</h2>
  <p class="index__text">Celebramos mi cumpleaños. Es una fecha redonda, importante, que coincide con mi cambio de vida. El paso a la dedicación ociosa a mis aficiones, espero que sin estrés.</p>
</section>
<section class="index__section index__section--images anchor-nav__section">
  <span id="images" class="anchor-nav__helper"></span>
  <h2 class="index__title">Fotos</h2>
  <div class="index__carrousel" app-carrousel [pictureUrls]="pictureUrls"></div>
  <p class="index__text">Te quiero dar las gracias por haber formado parte de mi vida, por haberme acompañado y por estar dispuesto a seguir a mi lado. Sobre todo el día 27.</p>
  <p class="index__text">Estoy segura de que pasaremos un buen rato comiendo, bebiendo y sin parar de reir. La música será nuestra aliada.</p>
</section>
<section class="index__section index__section--location anchor-nav__section">
  <span id="location" class="anchor-nav__helper"></span>
  <h2 class="index__title">Localización</h2>
  <p class="index__text">Sábado 27 de junio a las 20:00</p>
  <p class="index__text">Restaurante By the Way</p>
  <p class="index__text">Calle Josefa Valcárcel número 10</p>
  <div class="index__map" app-map></div>
</section>
<section class="index__section index__section--rsvp anchor-nav__section">
  <span id="rsvp" class="anchor-nav__helper"></span>
  <h2 class="index__title">Confirmación</h2>
  <div class="index__map" app-rsvp></div>
</section>

