<section class="index__section index__section--intro anchor-nav__section">
  <span id="intro" class="anchor-nav__helper"></span>
  <h2 class="index__title">Introducción</h2>
  <p class="index__text">Celebramos mi cumpleaños. Es una fecha redonda e importante, que coincide con mi cambio de vida. Dejo a un lado el estrés y paso a ocuparme a tiempo completo de mis aficiones (y a cuidar a Niebla Neira).  </p>
</section>
<section class="index__section index__section--images anchor-nav__section">
  <span id="images" class="anchor-nav__helper"></span>
  <h2 class="index__title">Fotos</h2>
  <div class="index__carrousel" app-carrousel [pictureUrls]="pictureUrls"></div>
  <p class="index__text">Te quiero dar las gracias por formar parte de mi vida, acompañarme durante todos estos años y por estar dispuesta/o a seguir junto a mí. Sobre todo el día 19.</p>
  <p class="index__text">Estoy segura de que pasaremos un buen rato bebiendo, comiendo y sin parar de reir. La música será nuestra aliada (no necesariamente la de Mecano).</p>
</section>
<section class="index__section index__section--location anchor-nav__section">
  <span id="location" class="anchor-nav__helper"></span>
  <h2 class="index__title">Localización</h2>
  <p class="index__text">Sábado 19 de septiembre a las 20:00</p>
  <p class="index__text">Restaurante By the Way</p>
  <div class="index__map" app-map></div>
  <p class="index__text index__text--map">Si no tenéis una bicicleta disponible siempre podéis llevar el coche y que os lo aparquen.</p>
</section>
<section class="index__section index__section--rsvp anchor-nav__section">
  <span id="rsvp" class="anchor-nav__helper"></span>
  <h2 class="index__title">Confirmación</h2>
  <p class="index__text">Por favor, confirma tu asistencia indicando el número de personas antes del día 3 de septiembre.</p>
  <div class="index__rsvp__info index__rsvp__name">
    <label for="guestName" class="index__rsvp__label">Nombre y apellido</label>
    <input type="text"  pattern="^[A-zÀ-ú ]{3,}$" required  class="index__rsvp__input index__rsvp__name" id="guestName" [(ngModel)]="guestName">
  </div>
  <div class="index__rsvp__info index__rsvp__tlf">
    <label for="phone" class="index__rsvp__label">Tlf</label>
    <input type="tel" pattern="[0-9]{9}" required class="index__rsvp__input index__rsvp__number" id="phone" [(ngModel)]="guestPhone">
  </div>
  <div class="index__map" app-rsvp (guestInfo)="sendGuestInfo($event)"></div>
  <p class="index__text">Si tienes cualquier pregunta te puedes poner en contacoto conmigo.</p>
  <p class="index__text">Tlf: 616167267</p>
  <p class="index__text">Email: rtejedagala@gmail.com</p>
</section>

