<nav class="main-nav main-wrapper">
  <button type="button" class="main-nav__button-menu" (click)="onToogleNav()">
    <i class="icon-dehaze"></i>
  </button>
  <h1 class="main-nav__title">Mi gran noche</h1>
  <ul class="main-nav__list" [ngClass]="{'main-nav__list--hidden': isNavHidden}">
    <li class="main-nav__element">
      <a class="main-nav__link" [routerLink]="['/app/']" fragment="intro" (click)="onToogleNav()">
        <i class="icon-cake main-nav__link__icon"></i>Introducción
      </a>
    </li>
    <li class="main-nav__element">
      <a class="main-nav__link" [routerLink]="['/app/']" fragment="images" (click)="onToogleNav()">
        <i class="icon-monochrome_photos main-nav__link__icon"></i>Fotos
      </a>
    </li>
    <li class="main-nav__element">
      <a class="main-nav__link" [routerLink]="['/app/']" fragment="location" (click)="onToogleNav()">
        <i class="icon-pin_drop main-nav__link__icon"></i>Localización
      </a>
    </li>
    <li class="main-nav__element">
      <a class="main-nav__link" [routerLink]="['/app/']" fragment="rsvp" (click)="onToogleNav()">
        <i class="icon-beenhere main-nav__link__icon"></i>Confirmación
      </a>
    </li>
  </ul>
</nav>

